.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #341cac;
}

.card {
  width: 280px;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px #2d1896;
  transition: .25s;
}
.card:hover {
  box-shadow: 10px 5px 40px 20px #271580;
  cursor: pointer;
}
.card:hover .button-primary {
  transform: translate(10px, 0);
}

.card-header {
  height: 300px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.8);
    box-shadow: inset 0 180px 150px -150px rgba(0,0,0,0.8);
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: #341cac;
  font-size: 15px;
  transition: .25s;
}
.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #fff;
  text-align: center;
  fon-size: 12px;
  text-decoration: none;
  display: block;
}

/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */
body, html {
  overflow-x: hidden;
}

.app-header {
  display: block;
  padding: 30px;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
}
@media (min-width: 768px) {
  .app-title {
    width: 20%;
    margin: 280px 0 0 0;
  }
}
.app-title h1 {
  font-size: 52px;
  margin: 0;
}
.app-title p {
  font-weight: 200;
  opacity: .5;
}

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .app-title-content {
    width: auto;
    position: absolute;
    text-align: left;
  }
}

.app-card-list {
  display: inline-block;
  width: 100%;
  float: right;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  margin-top: -70px;
}
.app-card-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .app-card-list {
    width: 75%;
    white-space: nowrap;
    margin-top: 0;
  }
}
.app-card-list .card {
  margin: 60px 30px;
  display: inline-block;
}
.app-card-list .card .card-body {
  white-space: normal;
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}

.app-footer {
  text-align: center;
}

.app-footer p {
  opacity: 0.6;
}

.app-footer-text {
  display: inline-block;
  color: white;
}

.heart {
  color: #C62828;
}

.leaderboard-container {
  display: inline-block;
  width: 25%;
  height: 600px;
  box-shadow: 10px 5px 40px 20px #2d1896;
  transition: .25s;
}

.leaderboard-body {
  margin-top: 60px;
  height: 100%;
}

.leaderboard-header {
  margin-top: 60px;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
}

.leaderboard-list {
  padding-top: 15px;
  padding-left: 15px;
}

.leaderboard-cell {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  background-color: rgba(33,1,114,0.60);
}
